.section-5 {
    position: relative;
    width: 100%;
    height: 472px;
    background: #e6fffa;
    padding: 111px 230px;
    position: relative;

    @media (max-width: 1430px) {
        padding: 111px 200px; 
    }

    @media (max-width: 1360px) {
        padding: 111px 170px; 
    }

    @media (max-width: 1300px) {
        padding: 90px 130px; 
    }

    @media (max-width: 1220px) {
        padding: 70px 100px; 
    }

    @media (max-width: 1160px) {
        padding: 70px 70px; 
    }

    @media (max-width: 1100px) {
        padding: 70px 30px; 
    }

    .center-space {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            display: block;
        }

        @media (max-width: 950px) {
            text-align: center;
        }

        .center-space-text h2 {
            font-weight: 600;
            font-size: 31px;
            line-height: 140%;
            color: #000000;

            @media (max-width: 540px) {
                font-size: 25px;
            }

            @media (max-width: 455px) {
                font-size: 20px;
            }
        }

        .center-space-text p {
            margin: 30px 0 51px 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: #000000;
            opacity: 0.7;

            @media (max-width: 540px) {
                font-size: 13px;
            }

            @media (max-width: 455px) {
                font-size: 10px;
            }


            @media (max-width: 360px) {
                font-size: 8px;
            }

        }
        
        .center-space-text img {

            @media (max-width: 384px) {
                display: block;
                margin: 20px auto;
                width: 100px;
                height: 38px;
            }
        } 

        .center-space-img img {
            position: absolute;
            left: 60%;
            bottom: 0%;

            @media (max-width: 1350px) {
                width: 429px;
                height: 521px;
            }

            @media (max-width: 1055px) {
                position: absolute;
                left: 55%;
                bottom: 0;
            }

            @media (max-width: 992px) {
                width: 329px;
                height: 421px;
                position: absolute;
                left: 55%;
                bottom: 0;
            }

            @media (max-width: 950px) {
                display: none;
            }
        }
    }
}

// footer start
footer {
    width: 100%;
    height: 298px;
    background: #012F3C;
    padding: 50px 230px;

    @media (max-width: 1200px) {
        padding: 50px 130px;
    }

    @media (max-width: 1024px) {
        height: 370px;
        padding: 50px 60px;
    }

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            display: block;
            text-align: center;
        }

        .footer-left {
            display: flex;
            align-items: center;
            gap: 40px; 
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            opacity: 0.4;
            color: #FFFFFF;
            
            
            @media (max-width: 992px) {
                justify-content: center;
                margin-bottom: 20px;
            
            }
        }

        

        .footer-right img {
            margin: 0 17px;

            @media (max-width: 992px) {
                margin-top: 20px;
            
            }
        }
    } 
    
    .footer-text {
        margin-top: 20px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;

        @media (max-width: 525px) {
            font-size: 13px;
        }

        @media (max-width: 440px) {
            font-size: 10px;
        }
    }

    .footer-line {
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.5;

        @media (max-width: 410px) {
            display: block;
            text-align: center;
        }

        div {
            width: 70%;
            border: 1px solid #FFFFFF;

            @media (max-width: 1360px) {
                width: 60%;
            }

            @media (max-width: 850px) {
                width: 40%;
            }

            @media (max-width: 600px) {
                width: 20%;
            }

            @media (max-width: 500px) {
                display: none;
            }

        }
    }
}
 