.section-2 {
    padding: 0 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;  

    @media (max-width: 992px) {
        display: block;
        text-align: center;
    }
    
    @media (max-width: 450px) {
        padding: 0 20px;
    }

    .swimming {
        width: 261px;
        height: 360px;
        padding-top: 100px;

        @media (max-width: 992px) {
            margin: 0 auto;
        } 

        h3 {
            font-family: 'Poppins', sans-serif;
            margin: 13px 0;
        }
        
        p {
            font-family: 'Poppins', sans-serif;
            margin: 13px 0;
        }
        
        a {
            color: black;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
        }
    }
        
    
    .runningandcycling {
        width: 261px;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        @media (max-width: 992px) {
            margin: 0 auto;
        } 

        .running {

            img {
                margin: 13px 0;
            }

            h3 {
                margin: 13px 0;
            }

            p {
                margin: 13px 0;
                
            }

            a {
                color: black;
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
            }

        }
        
        .cycling {

            img {
                margin: 13px 0;
            }

            h3 {
                margin: 13px 0;
            }

            p {
                margin: 13px 0;
            }

            a {
                color: black;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
            }
        }
        
    }
    

    .text {
        width: 310px;
        height: 233px;
        justify-content: center;
        padding-top: 40px;

        @media (max-width: 992px) {
            margin: 0 auto;
        }
        
        h1 {
            width: 300px;
            margin: 13px 0;
            font-weight: 600;
            font-size: 20px;
        }

        p {
            margin: 13px 0;
            font-weight: normal;
            font-family: 'Poppins', sans-serif;
        }
    }
    
    .section-2 .text .btn {
        width: 137px;
        height: 48px;
        background-color: #13AE92;
        border: #13AE92 solid 1px;
        color: #FFFF;
        margin: 13px 0;
    }
    
 }
 