.section-3 {
    width: 100%;
    height: 100%;
    background-color: #002D3A;
    background-image: url("/assets/images/Group.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 200px;

    @media (max-width: 1200px) {
        padding: 90px 100px; 
    }

    @media (max-width: 992px) {
        margin-top: 800px;
    }

    @media (max-width: 870px) {
        display: block;
    }

    @media (max-width: 650px) {
        padding: 50px 50px; 
    }

    @media (max-width: 500px) {
        padding: 50px 20px; 
    }

    

    .section-3-texts {
        h1 {
            font-size: 31px;
            font-weight: bold;
            color: white;

            @media (max-width: 992px) {
                font-size: 25px;
            }

            @media (max-width: 445px) {
                font-size: 20px;
            }

            @media (max-width: 362px) {
                font-size: 15px;
            }
        }

        p {
            font-size: 16px;
            color: white;
            opacity: 0.7;

            @media (max-width: 992px) {
                font-size: 12px;
            }

            @media (max-width: 400px) {
                font-size: 10px;
            }

            @media (max-width: 338px) {
                font-size: 8px;
            }
        }

        b {
            font-size: 20px;
            @media (max-width: 992px) {
                font-size: 16px;
            }

            @media (max-width: 400px) {
                font-size: 12px;
            }
        }

    }

    img {
        @media (max-width: 870px) {
            width: 200px;
            position: relative;
            top: 50px;
            left: 40%;
        }        
    }
}